@model Product;
<h1>Aggiungi un nuovo prodotto</h1>

<div class="container">
    <form asp-controller="Product" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nome:</label>
            <input asp-for="Name" type="text" class="form-control" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Descrizione:</label>
            <textarea asp-for="Description" rows="10" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImgUrl" class="form-label">URL Immagine:</label>
            <input asp-for="ImgUrl" type="text" class="form-control" required>
            <span asp-validation-for="ImgUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Ranking" class="form-label">Ranking:</label>
            <input asp-for="Ranking" type="number" class="form-control" required>
            <span asp-validation-for="Ranking" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Salva</button>
    </form>
</div>
